* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block;
    margin: 20px auto 0;
}

#game-starter {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
}

#game-wrapper {
    width: 700px;
    display: block;
    margin: 20px auto 0;
    background-image: url('img/bg.png');
}

#game-stats {
    position: absolute;
}

#game-score {
    position: absolute;
    left: 23px;
    top: 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace;
    color: brown;
}

img.score {
    position: absolute;
    left: 10px;
    top: 10px;
}